@import 'vars';
@import 'global';
@import 'fonts';

// start header

.header__top {
  background-color: $grey;
}

.header__top-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

.header__btn {
  margin-left: auto;
  margin-right: 50px;
  padding: 13px 18px;
  background-color: $blue;
  border-radius: 30px;
  color: #fff;
  font-size: 14px;
}

.header__account {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &-photo {
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-left: 45px;
  }
  &-info {
    margin-left: 21px;
    a {
      font-size: 16px;
      font-weight: 500;
    }
    span {
      display: block;
      margin-top: 5px;
      color: $blue;
    }
  }
  &-icons {
    display: flex;
    align-items: center;
    a {
      position: relative;
    }
    a + a {
      margin-left: 33px;
    }
  }
}

.notification::after, .message::after, .basket::after {
  position: absolute;
  border-radius: 50%;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
}

.notification::after {
  content: '25';
  padding: 6px;
  background-color: #ff6a6c;
  border-radius: 50%;
  top: -20px;
  left: 8px;
}

.message::after {
  content: '6';
  padding: 6px 9px;
  background-color: #62d03b;
  top: -23px;
  left: 15px;
}

.basket::after {
  content: '2';
  padding: 6px 9px;
  background-color: $blue;
  top: -20px;
  left: 15px;
}

.header__bottom-inner {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__bottom-menu li {
  display: inline-block;
  font-weight: 500;
  + li {
    margin-left: 34px;
  }
}

.header__bottom-search {
  position: relative;
  input {
    width: 360px;
    height: 45px;
    padding-left: 25px;
    padding-right: 70px;
    border: 1px solid #d9dfe5;
    border-radius: 30px;
    outline: none;
    &::placeholder {
      color: #898f96;
    }
  }
  button {
    position: absolute;
    border: none;
    background-color: $blue;
    width: 70px;
    height: 45px;
    right: 0;
    border-radius: 30px;
    outline: none;
    cursor: pointer;
  }
}

// end header
//start products section

.products {
  background: linear-gradient( 180deg, rgb(0,48,222) 0%, rgb(23,69,237) 54%, rgb(46,90,251) 100%);
}

.products__inner {
  text-align: center;
  padding-top: 180px;
  padding-bottom: 235px;;
}

.products__title {
  font-size: 60px;
  color: #f3f3f8;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
  span {
    display: block;
    font-weight: 700;
  }
}

.products__text {
  font-size: 20px;
  color: #f3f3f8;
  font-weight: 500;
  margin-top: 35px;
}

.products__btn {
  margin-top: 67px;
  a {
    font-size: 16px;
    color: #fff;
    padding: 20px 30px;
    border: 1px solid #fff;
    border-radius: 30px;
    transition: all .5s;
    + a {
    margin-left: 30px;
    }
    &:hover {
      background-color: #fff;
      color: $blue;
    }
  }
}

.products__search-inner {
  text-align: center;
  background-color: #fff;
  padding: 40px 0;
  border-radius: 6px;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
  margin-top: -67px;
  position: relative;
  &::before, &::after {
    content: '';
    position: absolute;
    background-color: #fff;
    opacity: 0.502;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
  }
  &::before {
    height: 13px;
    width: 97%;
    opacity: 0.502;
    top: -13px;
    left: 17px;
  }
  &::after {
    height: 26px;
    opacity: 0.502;
    width: 94%;
    top: -26px;
    left: 34px;
  }
  input, select {
    height: 59px;
    outline: none;
    border: 1px solid #dcdcdc;
  }
  input {
    width: 610px;
    padding-left: 28px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }
  select {
    display: inline-block;
    width: 195px;
    border-left: none;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    margin-left: -4px;
    padding-left: 20px;
    padding-right: 20px;
  }
  button {
    margin-left: 30px;
    padding: 20px 65px;
    background-color: $blue;
    border: none;
    border-radius: 4px;
    outline: none;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    position: relative;
  }
}

// end products section
// start advantages section

.advantages__inner {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  margin: 120px 0;
}

.advantages__item {
  font-size: 16px;
  padding: 40px 35px 50px;
  transition: all .5s;
  &:hover {
    border-radius: 4px;
    box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
  }
  &-title {
    font-size: 24px;
    margin-bottom: 30px;
  }
  &-text {
    color: #555555;
    line-height: 30px;
    max-width: 295px;
  }
}

.first-title, .third-title {
  margin-top: 35px;
}

.second-title {
  margin-top: 29px;
}

// end advantages section
// start weeklyproducts section

.weeklyproducts {
  background-color: $grey;
}

.weeklyproducts__inner {
  padding: 120px 0;
}

.weeklyproducts__title {
  font-size: 30px;
  background-color: #fff;
  padding: 35px 30px;
  border-radius: 4px;
  box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
  margin-bottom: 50px;
}

.weeklyproducts__slider-item {
  max-width: 555px;
  height: 450px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.weeklyproducts__slider-info {
  padding: 32px 55px 25px 55px;
  background-color: #fff;
  position: absolute;
  right: -105%;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 0px 2px 30px 0px rgba(147, 155, 168, 0.1);
}

.weeklyproducts__slider-title {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 15px;
}

.weeklyproducts__slider-authorinfo {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.account_photo {
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.author_ref {
  margin-left: 10px;
}

.category {
  margin-left: 45px;
  color: #7347c1;
}

.weeklyproducts__slider-text {
  font-size: 16px;
  line-height: 30px;
  color: #555555;
  max-width: 475px;
  margin-bottom: 35px;
}

.weeklyproducts__slider-categories {
  margin-bottom: 45px;
  a {
    color: #868c96;
    padding: 7px 15px 7px 17px;
    background-color: #f1f3f6;
    border-radius: 15px;
    transition: all .5s;
    &:hover {
      background-color: $blue;
      color: #fff;
    }
  }
  a + a {
    margin-left: 7px;
  }
}

.weeklyproducts__slider-rates {
  padding-top: 24px;
  border-top: 1px solid #ececec;
  a {
    font-weight: 500;
    color: #fff;
    padding: 9px 19px;
    background-color: $blue;
    border-radius: 20px;
  }
  span {
    display: inline-block;
    &.likes {
      margin-left: 45px;
      color: #555555;
    }
    &.purchases {
      margin-left: 40px;
      color: $blue;
    }
  }
}

.slick-arrow {
  width: 55px;
  height: 45px;
  border: none;
  background-color: #7347c1 ;
  outline: none;
  position: absolute;
  top: -125px;
  cursor: pointer;
}

.slick-prev {
  left: auto;
  right: 85px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.slick-next {
  right: 30px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

// end weeklyproducts section
// start newproducts section

.newproducts {
  background-color: #f6f7fb;
  padding: 120px 0;
}

.newproducts__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 30px;
  background-color: #fff;
  padding: 35px 30px;
  border-radius: 4px;
  box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
  margin-bottom: 30px;
  &-filter {
    margin-left: auto;
    margin-right: 25px;
    font-size: 16px;
    color: #747b86;
  }
  &-btn {
    &:hover {
      cursor: pointer;
      div {
        background-color: $blue;
      }
    }
    div {
      width: 5px;
      height: 4px;
      background-color: #a3b1c4;
      border-radius: 50%;
      & + div {
        margin-top: 4px;
      }
    }
  }
}

.newproducts__btn {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  padding: 30px 110px 30px 30px;
  border-radius: 4px;
  box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
  margin-bottom: 50px;
  button {
    padding: 10px 20px;
    border: none;
    background-color: #f1f3f6;
    border-radius: 20px;
    transition: all ease .5s;
    cursor: pointer;
    color: #747b86;
    outline: none;
    &:hover {
      background-color: $blue;
      color: #fff;
    }
  }
}

.newproducts__box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.newproducts__item {
  margin-bottom: 30px;
  &:hover {
    .newproducts__item-img {
      background: linear-gradient( to left, rgb(6,116,236) 0%, rgb(61,94,215) 46%, rgb(115,71,193) 100%) !important;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      opacity: 0.9;
      a {
        display: block;
      }
    }
  }
}

.newproducts__item-img {
  max-width: 361px;
  height: 230px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  a {
    font-weight: 500;
    color: #fff;
    border: 1px solid #fff;
    padding: 17px 30px;
    border-radius: 30px;
    transition: all ease .5s;
    display: none;
    &:hover {
      background-color: #fff;
      color: $blue;
    }
    & + a {
      margin-left: 10px;
    }
  }
}

.newproducts__item-info {
  background-color: #fff;
  padding: 30px 0 15px;
  box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  max-width: 361px;
}

.newproducts__item-title {
  padding-left: 30px;
  padding-right: 40px;
  font-size: 20px;
  font-weight: 500;
  color: #000;
  margin-bottom: 20px;
}

.newproducts__item-authorinfo {
  display: flex;
  align-items: center;
  padding-left: 30px;
  padding-right: 40px;
  margin-bottom: 30px;
  .account_photo {
    width: 28px;
    height: 28px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .author_ref {
    color: #000;
    margin-left: 7px;
  }
}

.newproducts__item-text {
  padding-left: 30px;
  padding-right: 39px;
  font-size: 16px;
  line-height: 30px;
  color: #555555;
  margin-bottom: 35px;
}

.newproducts__item-rates {
  padding-top: 15px;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #ececec;
  a {
    font-weight: 500;
    color: $blue;
    padding: 8px 17px;
    border-radius: 20px;
    background-color: #e6f1fd;
  }
  .likes {
    margin-right: auto;
    margin-left: 35px;
    color: #6f7d8d;
  }
  .purchases {
    color: $blue;
  }
}

.newproducts__link {
  display: block;
  margin: 30px auto 0;
  font-size: 16px;
  color: #fff;
  background-color: $blue;
  border: none;
  padding: 20px 33px;
  border-radius: 30px;
  outline: none;
  cursor: pointer;
}

// end newproducts section
// start followers section

.followers {
  background-color: #eff1f5;
  padding: 120px 0;
}

.followers__title {
  font-size: 30px;
  background-color: #fff;
  padding: 35px 30px;
  border-radius: 4px;
  box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
  margin-bottom: 50px;
}

.followers__slider {
  .newproducts__item {
    margin-bottom: 0;
  }
  .slick-track {
    margin: 0 -15px;
  }
  .slick-slide {
    padding: 0 14px;
    outline: none;
  }
  .slick-arrow {
    background-color: $blue;
  }
}

// end followers section
// start statistics section

.statistics {
  background-color: #212225;
  padding: 95px 0;
}

.statistics__inner {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.lnr {
  font-size: 48px;
}

.lnr-briefcase, .statistics__item-items {
  color: #feb71d;
}

.lnr-cloud-download, .statistics__item-sales {
  color: #58c9e9;
}

.lnr-smile, .statistics__item-customers {
  color: #77de51;
}

.lnr-users, .statistics__item-members {
  color: #ff6a6d;
}

.numbers {
  font-size: 36px;
  margin-top: 45px;
}

.statistics__item-text {
  font-size: 18px;
  color: #fff;
  margin-top: 15px;
}

// end statistics section 
// start reasons section

.reasons {
  padding: 120px 0 90px;
}

.reasons__title {
  font-size: 36px;
  text-align: center;
  margin-bottom: 30px;
  span {
    color: $blue;
  }
}

.reasons__text {
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  color: #555555;
  max-width: 680px;
  margin: 0 auto 50px;
}

.reasons__items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.reasons__item {
  max-width: 361px;
  width: 100%;
  margin-bottom: 30px;
  box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
}

.reasons__item-number {
  font-weight: 300;
  font-size: 48px;
  color: rgba(92, 135, 248, 0.2);
  margin-left: 20px;
  margin-top: 10px;
}

.reasons__item-box {
  text-align: center;
  .lnr {
    font-size: 60px;
    margin-top: -10px;
    margin-bottom: 50px;
  }
  .lnr-license {
    color: $blue;
  }
  .lnr-magic-wand {
    color: #7f4ec2;
  }
  .lnr-lock {
    color: #77de51;
  }
  .lnr-chart-bars {
    color: #feb71d;
  }
  .lnr-leaf {
    color: #58c9e9;
  }
  .lnr-phone {
    color: #ff6a6d;
  }
}

.reasons__item-title {
  font-size: 24px;
  margin-bottom: 30px;
}

.reasons__item-text {
  font-size: 16px;
  line-height: 30px;
  color: #555;
  max-width: 295px;
  margin: 0 auto 60px;
}

// end reasons section
// start options section

.options {
  display: flex;
}

.options__item {
  text-align: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 561px;
  width: 100%;
}

.options__item-img {
  margin: 100px 0 50px;
}

.options__item-title {
  color: #fff;
  font-size: 36px;
  margin-bottom: 30px;
}

.options__item-text {
  font-size: 16px;
  line-height: 30px;
  color: #fff;
  padding: 0 100px;
  margin-bottom: 45px;
}

.options__item-btn {
  padding: 20px 25px;
  background-color: #fff;
  color: $blue;
  border-radius: 30px;
  transition: all ease .3s;
  font-size: 16px;
  font-weight: 500;
  &:hover {
    background-color: #dedede;
  }
  &.shop {
    color: #7347c1;
  }
}

// end options section
// start feedback section

.feedback {
  padding: 120px 0;
  text-align: center;
}

.feedback__title {
  font-size: 36px;
  margin-bottom: 30px;
  span {
    color: $blue;
  }
}

.feedback__text {
  font-size: 16px;
  color: #555555;
  line-height: 30px;
  max-width: 675px;
  margin: 0 auto 60px;
}

.feedback__items {
  display: flex;
  justify-content: space-between;
}

.feedback__item {
  box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  padding: 50px 40px;
  margin-bottom: 60px;
  border-left: 2px solid $blue;
  & + .feedback__item {
    margin-left: 30px;
  }
}

.feedback__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.feedback__photo {
  width: 80px;
  height: 80px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: 18px;
}

.feedback__client {
  margin-right: auto;
  text-align: left;
}

.feedback__client-name {
  font-size: 20px;
  color: #000000;
  margin-bottom: 10px;
}

.feedback__client-job {
  font-size: 16px;
  color: #555555;
}

.feedback__icon {
  font-size: 60px;
  color: #e8e8e8;
}

.feedback__item-text {
  font-size: 16px;
  color: #555555;
  text-align: left;
  line-height: 30px;
}

.feedback__btn {
  padding: 20px 35px;
  background-color: $blue;
  border-radius: 30px;
  color: #fff;
  font-size: 16px;
  transition: all ease .3s;
  &:hover {
    background-color: #005fc7;
  }
}


// end feedback section







