@import 'vars';
@import 'global';
@import 'fonts';

// start header

.header__top {
  background-color: $grey;
}

.header__top-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

.header__btn {
  margin-left: auto;
  margin-right: 50px;
  padding: 13px 18px;
  background-color: $blue;
  border-radius: 30px;
  color: #fff;
  font-size: 14px;
}

.header__account {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &-photo {
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-left: 45px;
  }
  &-info {
    margin-left: 21px;
    a {
      font-size: 16px;
      font-weight: 500;
    }
    span {
      display: block;
      margin-top: 5px;
      color: $blue;
    }
  }
  &-icons {
    display: flex;
    align-items: center;
    a {
      position: relative;
    }
    a + a {
      margin-left: 33px;
    }
  }
}

.notification::after, .message::after, .basket::after {
  position: absolute;
  border-radius: 50%;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
}

.notification::after {
  content: '25';
  padding: 6px;
  background-color: #ff6a6c;
  border-radius: 50%;
  top: -20px;
  left: 8px;
}

.message::after {
  content: '6';
  padding: 6px 9px;
  background-color: #62d03b;
  top: -23px;
  left: 15px;
}

.basket::after {
  content: '2';
  padding: 6px 9px;
  background-color: $blue;
  top: -20px;
  left: 15px;
}

.header__bottom-inner {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__bottom-menu li {
  display: inline-block;
  font-weight: 500;
  + li {
    margin-left: 34px;
  }
}

.header__bottom-search {
  position: relative;
  input {
    width: 360px;
    height: 45px;
    padding-left: 25px;
    padding-right: 70px;
    border: 1px solid #d9dfe5;
    border-radius: 30px;
    outline: none;
    &::placeholder {
      color: #898f96;
    }
  }
  button {
    position: absolute;
    border: none;
    background-color: $blue;
    width: 70px;
    height: 45px;
    right: 0;
    border-radius: 30px;
    outline: none;
    cursor: pointer;
  }
}

// end header
//start products section

.products {
  background: linear-gradient( 180deg, rgb(0,48,222) 0%, rgb(23,69,237) 54%, rgb(46,90,251) 100%);
}

.products__inner {
  text-align: center;
  padding-top: 180px;
  padding-bottom: 235px;;
}

.products__title {
  font-size: 60px;
  color: #f3f3f8;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
  span {
    display: block;
    font-weight: 700;
  }
}

.products__text {
  font-size: 20px;
  color: #f3f3f8;
  font-weight: 500;
  margin-top: 35px;
}

.products__btn {
  margin-top: 67px;
  a {
    font-size: 16px;
    color: #fff;
    padding: 20px 30px;
    border: 1px solid #fff;
    border-radius: 30px;
    transition: all .5s;
    + a {
    margin-left: 30px;
    }
    &:hover {
      background-color: #fff;
      color: $blue;
    }
  }
}

.products__search-inner {
  text-align: center;
  background-color: #fff;
  padding: 40px 0;
  border-radius: 6px;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
  margin-top: -67px;
  position: relative;
  &::before, &::after {
    content: '';
    position: absolute;
    background-color: #fff;
    opacity: 0.502;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
  }
  &::before {
    height: 13px;
    width: 97%;
    opacity: 0.502;
    top: -13px;
    left: 17px;
  }
  &::after {
    height: 26px;
    opacity: 0.502;
    width: 94%;
    top: -26px;
    left: 34px;
  }
  input, select {
    height: 59px;
    outline: none;
    border: 1px solid #dcdcdc;
  }
  input {
    width: 610px;
    padding-left: 28px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }
  select {
    display: inline-block;
    width: 195px;
    border-left: none;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    margin-left: -4px;
    padding-left: 20px;
    padding-right: 20px;;
  }
  button {
    margin-left: 30px;
    padding: 20px 65px;
    background-color: $blue;
    border: none;
    border-radius: 4px;
    outline: none;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
  }
}

// end products section
// start advantages section

.advantages__inner {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  margin: 120px 0;
}

.advantages__item {
  font-size: 16px;
  padding: 40px 35px 50px;
  transition: all .5s;
  &:hover {
    border-radius: 4px;
    box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
  }
  &-title {
    font-size: 24px;
    margin-bottom: 30px;
  }
  &-text {
    color: #555555;
    line-height: 30px;
    max-width: 295px;
  }
}

.first-title, .third-title {
  margin-top: 35px;
}

.second-title {
  margin-top: 29px;
}

// end advantages section
// start weekly products slider

.weeklyproducts {
  background-color: $grey;
}

.weeklyproducts__inner {
  padding: 120px 0;
}

.weeklyproducts__title {
  font-size: 30px;
  background-color: #fff;
  padding: 35px 30px;
  border-radius: 4px;
  box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
  margin-bottom: 50px;
}

.weeklyproducts__slider-item {
  max-width: 555px;
  height: 450px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.weeklyproducts__slider-info {
  padding: 32px 55px 25px 55px;
  background-color: #fff;
  position: absolute;
  right: -105%;
  z-index: 1;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 0px 2px 30px 0px rgba(147, 155, 168, 0.1);
}

.weeklyproducts__slider-title {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 15px;
}

.weeklyproducts__slider-authorinfo {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.account_photo {
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.author_ref {
  margin-left: 10px;
}

.category {
  margin-left: 45px;
  color: #7347c1;
}

.weeklyproducts__slider-text {
  font-size: 16px;
  line-height: 30px;
  color: #555555;
  max-width: 475px;
  margin-bottom: 35px;
}

.weeklyproducts__slider-categories {
  margin-bottom: 45px;
  a {
    color: #868c96;
    padding: 7px 15px 7px 17px;
    background-color: #f1f3f6;
    border-radius: 15px;
    transition: all .5s;
    &:hover {
      background-color: $blue;
      color: #fff;
    }
  }
  a + a {
    margin-left: 7px;
  }
}

.weeklyproducts__slider-rates {
  padding-top: 24px;
  border-top: 1px solid #ececec;
  a {
    font-weight: 500;
    color: #fff;
    padding: 9px 19px;
    background-color: $blue;
    border-radius: 20px;
  }
  span {
    display: inline-block;
    &.likes {
      margin-left: 45px;
      color: #555555;
    }
    &.purchases {
      margin-left: 40px;
      color: $blue;
    }
  }
}

.slick-arrow {
  width: 55px;
  height: 45px;
  border: none;
  background-color: #7347c1 ;
  outline: none;
  position: absolute;
  top: -125px;
  cursor: pointer;
}

.slick-prev {
  left: auto;
  right: 85px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.slick-next {
  right: 30px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

// end weekly products slider







